<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occurred!</h1>
    <p>Please be noted that the issue is being addressed. Thank you</p>

<%- include('includes/end.ejs') %>